= helpers.turbo_frame_tag turbo_id do
  .card.mb-2.card-glow
    .card-body
      %span
        .d-flex
          .fw-bold.me-2
            = message.user.nickname
          .d-flex.fs-7.text-secondary.align-items-center
            = message.created_at
      = message.content
