.home_page
    .left-nav

    .channels-nav
        %h4 Sidebar
        %p channels

    .header
        %h3 Chanel name
        %p desc
    .chat_users
        %h4 Status

    .content
        %h1 Home#index

        %p Zalogowano jej 🎇

        = button_to "Logout", session_path, method: :delete, class: "btn btn-danger"

    .chat-box
        %p Chat box
