.home_page {
  display: grid;
  height: 100vh;

  grid-template-columns: 250px 1fr 200px;
  grid-template-rows: 80px 1fr 100px;

  grid-template-areas:
    "channels-nav header header"
    "channels-nav content chat_users"
    "channels-nav chat-box chat_users";
}

.channels-nav {
  grid-area: channels-nav;
  background: #6271fa;
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
}

.chat_users {
  grid-area: chat_users;
}

.chat-box {
  grid-area: chat-box;
  background: #fd1deb;
}
