h1 {
    font-size: 3rem;
    color: $text-light;
    margin-bottom: 1.5rem;
    text-align: center;
}


section.container {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: $contrast-bg;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(107, 18, 18, 0.1);
    background-color: $contrast-bg;
}


section.container p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: $secondary;
}


section.container .btn-danger {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;

    &:hover {
    background-color: darken(#dc3545, 10%);
    }
}
