.password-edit-page input:-webkit-autofill,
.password-edit-page input:-webkit-autofill:hover,
.password-edit-page input:-webkit-autofill:focus,
.password-edit-page input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px $input-bg inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
}

.password-edit-page input {
  background-color: $input-bg;
;
}

.password-edit-page {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: $contrast-bg;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(107, 18, 18, 0.1);

  h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: $text-light;
  }

  div {
    margin-bottom: 1rem;

    input {
      width: 100%;
      padding: 0.5rem;
      border-radius: 4px;
      border: 1px solid $button-border;
    }
  }

  input[type="submit"] {
    background-color: $primary;
    color: $text-light;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: $button-hover;
    }
  }

  a {
    display: block;
    text-align: center;
    margin-top: 1rem;
    color: $secondary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
